p {
  font-size: 1.3rem;
}

input[type="text"] {
  width: 50%;
}

.fecha {
  width: 90%;
}

button {
  background-color: "#00A2C6";
  margin: 1rem;
}

.MuiPickersLayout-root {
  background-color: rgba(255, 255, 255, 0.5);
}
