@font-face {
  font-family: "WarIsOver";
  src: url("../assets/War_is_Over.ttf");
}
img {
  padding: 2rem;
  padding-left: 3rem;
}

p.header {
  margin: 3rem;
  padding-left: 3rem;
  font-family: "WarIsOver";
  font-size: 6.5rem;
  line-height: 1;
}
