.header {
  width: 95%;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}
.list {
  display: flex;
  gap: 2rem;
}

.logo {
  width: 12rem;
}
.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}
