.contenedor {
  margin: auto;
  overflow: hidden;
  max-width: 1500px;
}

.derecha {
  width: 50%;
  margin-left: 0;
  margin-top: 7rem;
  float: left;
  bottom: 0;
}

.izquierda {
  margin: 0rem 5rem;
  width: 30%;
  float: left;
}
